.landingPage{
    background-image: url("../Images/background/backg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width: 100%;
    align-items: baseline;
    padding: 500px;
    color: black;
    font-size: larger;
    margin-top: 20px;
    font-weight: 200;
    image-resolution: 50;
}
.landingPage>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.landingPage>h1{
    padding: 0;
}
.Description{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 4%;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
}
.Description>h3{
    /* align-self: center; */
    text-align: center;
    font-weight: bold;
}
.Description>p{
    /* font-size: large; */
    line-height: normal;
}
.about{
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
}
.about>h3{
    font-weight: bold;
}
.sizes{
    font-size: larger;
}
.visit>h3{
    align-self: center;
    text-align: center;
    font-size: 200;
    font-weight: bold;
}
.visit{
    align-content: center;
    font-size: large;
    padding-left: 20%;
    padding-right: 20%;
}
.visit>p{
    font-weight: bold;
    font-size: medium;
}
.container{
    margin-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
}
.social-media{
    margin-top: 2%;
    align-content: center;
}
.card>p{
    display: none;
}
.map{
    margin-top: 2%;
    
}
.navbar{
    background-color: coral;
}